<div>
    <div data-template="browse:dispatch-action"/>
    <div data-template="browse:list-works">
        <paper-button class="parent-link" data-template="browse:parent-collection">
            <iron-icon icon="icons:folder"/>
            <pb-i18n key="browse.up">Up</pb-i18n>
        </paper-button>
        <ul class="documents" data-template="browse:browse" data-template-per-page="20">
            <li class="document">
                <div class="document-info">
                    <header data-template="browse:short-header"/>
                    <!-- Gestione tasto download e relative opzioni -->
                    <!-- TODO this toolbar should only appear once per Documents papercard -->
                    <app-toolbar style="margin-top:0px">
                            <pb-download source="source" data-template="browse:download-link" class="card-info-only-button"> <!-- source consente di visualizzare in nuovo tab, la dialog non serve finché non avviene il download -->
                                View XML
                            </pb-download>
                    </app-toolbar>
                </div>
            </li>
        </ul>
    </div>
</div>